# Model checkpoints
models/

# Environment folder
rlagents/

# TensorBoard logs
runs/

# HDF5 data files
*.h5
valid_grids.h5

# Python cache files
__pycache__/
*.py[cod]
*$py.class

*.pth
!Runner_GridMapStep2.5M.pth
!Catcher_GridMapStep2.5M.pth

media/texts/
media/images/
media/videos/
